* {
	margin: 0px;
	padding: 0px;
}

body {
	cursor: url(cursor-custom.png), auto;
}

a {
	text-decoration: none;
}

li, ul {
	list-style-type: none;
}

/* width */
body::-webkit-scrollbar {
  width: 6px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #2C4A6C;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #1C84DE;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #319AF4;
}

/* Fonts */

@font-face {
    font-family: 'Teko-M';
    src: url('fonts/Teko-Medium.ttf');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('fonts/SourceSansPro-Regular.ttf');
}

button:focus{
	outline: none;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.hero-main {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background: linear-gradient(180deg, rgba(2, 24, 42, 0) 0%, rgba(2, 24, 42, 0.91) 100%), linear-gradient(180deg, rgba(23, 86, 121, 0.91) 4.17%, rgba(2, 24, 42, 0.85) 100%);
	border: 1px solid #0C2542;
	box-sizing: border-box;
	border-left: none;
	border-right: none;
}

.hero-main-wrapper {
	width: 1100px;
	height: 100%;
	margin: 0 auto;	
	box-sizing: border-box;
	padding-top: 80px;
}

.main-title {
	width: 680px;
	font-family: Teko-M;
	font-size: 124px;
	color: white;
	line-height: 90%;
	margin-top: 70px;
}

.sub-title {
	font-family: SourceSansPro-Regular;
	font-weight: 100;
	color: #95BBEB;
	font-size: 17px;
	width: 560px;
	margin-top: 50px;
	line-height: 150%;
}

.play-video {
	position: absolute;
	top: 250px;
	margin-left: 900px;
	cursor: pointer;
	animation: blink-animation 2s steps(60, start) infinite;
    -webkit-animation: blink-animation 2s steps(60, start) infinite;
}

@keyframes blink-animation {
  to {
    opacity: .1;
  }
}
@-webkit-keyframes blink-animation {
  to {
    opacity: .9;
  }
}

.page-content {
	width: 100%;
	height: auto;
	min-height: 800px;
	background: #020E1C;
}

.featured {
	width: 1100px;
	height: 600px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	top: 600px;
}

.featured-wrapper {
	width: 100%;
	height: 100%;
}

.featured-item {
	transition: .3s;
	width: 354px;
	height: 100%;
	display: inline-block;
	margin-left: 15px;
	cursor: pointer;
}

.featured-item:first-child {
	margin-left: 0px;
}

/* Backgrounds */

.featured-wrapper > .dreamhack {
	background-image: url(images/dreamhack-bg.png);
}

.featured-wrapper > .riot {
	background-image: url(images/riot-bg.png);
}

.featured-wrapper > .lg {
	background-image: url(images/lg-bg.png);
}


.item-header {
	width: 100%;
	height: 92px;
	float: left;
}

.year-tag {
	width: 48px;
	height: 92px;
	background: #F99F28;
	float: left;
}

.year-tag > p {
	font-family: Teko-M;
	font-size: 30px;
	transform: rotate(90deg);
	color: white;
	margin-top: 26px;
	margin-left: -4px;
}

.item-header > .game-img {
	float: right;
	margin-top: 35px;
	margin-right: 35px;
}

.item-header .game-img:nth-child(3) {
	margin-right: 20px;
}

.item-logo {
	width: 100%;
	height: 81px;
	float: left;
}

.item-logo {
	text-align: center;
	margin-top: 78px;
}

.item-char {
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
}

.item-char > img {
	margin-top: 63px;
	margin-left: 10px;
}

/* Hovers */

.dreamhack:hover {
	transition: .3s;
	box-shadow: 0px 3px 15px rgba(249, 159, 40, 0.25);
	background: #F99F28;
}

.riot:hover {
	transition: .3s;
	box-shadow: 0px 3px 10px rgba(28, 132, 222, 0.28);
	background: #1C84DE;
}

.lg:hover {
	transition: .3s;
	box-shadow: 0px 3px 9px rgba(194, 38, 220, 0.22);
	background: #C226DC;
}

/* Riot */

.riot > .item-header > .year-tag {
	background: #1C84DE;
}

.riot > .item-header > .year-tag > p {
	background: #1C84DE;
	margin-top: 27px;
}

.riot > .item-char > img {
	margin-left: 0px;
	margin-top: 79px;
}

/* Lg */

.lg > .item-header > .year-tag {
	background: #C226DC;
}

.lg > .item-header > .year-tag > p {
	margin-top: 27px;
}

.lg > .item-char > img {
	margin-left: 0px;
	margin-top: 73px;
}

.tech {
	width: 1100px;
	height: 700px;
	padding-top: 270px;
	margin: 0 auto;
}

.left-col {
	width: 50%;
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding-left: 10px;
}

.right-col {
	width: 50%;
	height: 100%;
	float: right;
	box-sizing: border-box;
	padding-right: 10px;
}

.h1-text {
	font-family: Teko-M;
	font-size: 60px;
	color: white;
	margin-top: 180px;
}

.h4-text {
	width: 445px;
	font-size: 16px;
	font-family: SourceSansPro-Regular;
	color: #84A6D1;
	font-weight: 100;
	line-height: 180%;
	margin-top: 20px;
}

.feature-widget {
	float: right;
	width: 485px;
	height: 450.62px;
	background: #07172C;
	border: 1px solid #0C213A;
	box-sizing: border-box;
	box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	margin-top: 120px;
}

.main-button {
	transition: .2s;
	width: 229px;
	height: 60px;
	background: #1C84DE;
	border: none;
	margin-top: 50px;
	cursor: pointer;
	font-family: Teko-M;
	color: white;
	font-size: 18px;
	padding-top: 2px;
}

.main-button:hover {
	transition: .2s;
	box-shadow: 0px 4px 18px rgba(28, 132, 222, 0.55);
}

.widget-options {
	float: left;
	width: 76px;
	height: 100%;
	background: #0B2445;
}

.option-tile {
	width: 100%;
	height: 74px;
	border-bottom: 1px solid #19375F;
	cursor: pointer;
	text-align: center;
}

.option-tile > img {
	margin-top: 20px;
}

.option-tile:nth-child(1) {
	background: #F99F28;
	border-top-left-radius: 4px;
}

.option-tile:nth-child(2) > img {
	margin-top: 24px;
}

.option-tile:nth-child(3) > img {
	margin-top: 26px;
}

.option-tile:nth-child(4) > img {
	margin-top: 20px;
}

.option-tile:nth-child(5) > img {
	margin-top: 20px;
}

.option-tile:nth-child(6) > img {
	margin-top: 19px;
}

.option-tile:last-child {
	border-bottom: none;
}

.non-active {
	transition: .2s;
}

.tech > .right-col > .feature-widget > .widget-options > .non-active:hover {
	transition: .2s;
	opacity: .6;
	background: #19375F;
}

.tutorial-video {
	width: 407px;
	height: 250px;
	float: left;
	margin-top: -11px;
	border-top-right-radius: 4px;
}

.tutorial-h1 {
	font-family: Teko-M;
	color: #F99F28;
	font-size: 46px;
	font-weight: 100;
	float: left;
	margin-left: 40px;
	margin-top: 34px;
	width: 300px;
}

.tutorial-h2 {
	float: left;
	width: 325px;
	font-size: 16px;
	font-family: SourceSansPro-Regular;
	color: #84A6D1;
	font-weight: 100;
	line-height: 180%;
	margin-left: 40px;
}

.clients {
	width: 1100px;
	height: 180px;
	margin: 0 auto;
}

.clients-list {
	width: 100%;
	height: 100%;
	text-align: center;
}

.client-tile {
	width: auto;
	height: 100%;
	display: inline-block;
	padding: 0px 30px 0px 30px;
}

.znipe-team {
	width: 100%;
	height: 649px;
	background: linear-gradient(180deg, #3899EE 0%, #076CC5 100%);
	background-image: url(images/znipe-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.znipe-wrapper {
	width: 560px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}

.znipe-h1 {
	font-family: Teko-M;
	font-size: 100px;
	color: white;
	font-weight: 100;
	line-height: 90%;
	padding-top: 120px;
}

.znipe-h2 {
	color: white;
	font-family: SourceSansPro-Regular;
	font-size: 18px;
	font-weight: 100;
	padding-top: 40px;
	line-height: 170%;
}

.sec-button {
	transition: .2s;
	width: 215px;
	height: 63px;
	background: #FFFFFF;
	border: none;
	margin-top: 60px;
	cursor: pointer;
	font-family: Teko-M;
	color: #1C84DE;
	font-size: 20px;
	padding-top: 2px;	
}

.sec-button:hover {
	transition: .2s;
	box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.23);
}